body{
  font-family: 'Quicksand', sans-serif;
}
.logo{
  position: absolute;
}
.top-container{
  /* width: 90%; */
  /* height: 90%; */
  margin: 3%;
  border-radius: 64px;
  background: #F4F6F6;
  box-shadow:  22px 22px 32px #dedede,
               -22px -22px 32px #ffffff;
}
.container{
  margin: 0 0 0 18rem;
  /* height: 100%; */
  /* width: 80%; */
  padding: 2%;
  border-radius: 64px;
  background: #ffffff;
  box-shadow:  5px 5px 0px #fcfcfc,
               -5px -5px 0px #ffffff;
}
.btn{
  margin: 10px;
  border-style: none;
  position: relative;
  top: 20px;
  left: 340px;
  width: 6rem;
}
.btn-success{
  background-color: #77CB74;
  border-radius: 48px;
  box-shadow: 1px 15px 20px #8ff48b;
}
.btn-danger{
  background-color: #FF7777;
  border-radius: 48px;
  box-shadow: 1px 15px 20px #ff8f8f;
}
.cellspacing{
  border: 20px solid;
  border-color: #ffffff;
}
.options{
  position: absolute;
  top: 180px;
  left: 150px;
}
.p-2{
  margin: 0.2rem;
  cursor: pointer;
}
#snow-img{
  position: absolute;
  top: 500px;
  left: 100px;
}
.hide{
  visibility: hidden;
}
.chat{
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.nav{
  color: red;
  position: absolute;
  right: 5rem;
  top: 4rem;
}
.achievements{
  width: 78%;
  height: 13%;
  /* margin-top: 40px; */
  background-color: #77ACF1;
  border-radius: 38px;
  box-shadow:  0px 10px 35px #b8b8b8;
  text-align: center;
}
.points{
  background-color: #65EBEF;
  width: 15%;
  height: 20%;
  padding: 20px;
  position: absolute;
  right: 80px;
  top: 180px;
  text-align: center;
  border-radius: 38px;
  box-shadow:  0px 10px 25px #b8b8b8;
}
.activities{
  margin: 10px 10px 0px 60px;;
  width: 65%;
  text-align: center;
}
.section{
  margin: 20px 40px;
  padding: 10px 0px;
  border-radius: 40px;
  /* background-color: #F6DFEB; */
  box-shadow:  0px 5px 25px #707070;
}
.float-right{
  position: absolute;
  right: 80px;
  bottom: 150px;
}
.upgrade{
  position: absolute;
  top:40rem;
  left:79rem;
}
